############################
# Logs & Debug
############################
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

############################
# Data
############################
.tmp
*.sql
*.sqlite
*.sqlite3
prisma/migrations/*
*.bak
public/uploads/*
!public/uploads/.gitkeep
.node_history
*.cache

############################
# Dependencies
############################
/node_modules
/.pnp
.pnp.js

############################
# Production
############################
build/
dist
dist-ssr
/.next/
/out/
/.vercel/
*.tsbuildinfo
exports

############################
# Tests
############################
/coverage
*.coverage
coverage/
lib-cov
lcov.info
*.lcov
lcov-report/
testApp
results/


############################
# Miscellaneous
############################
*.local
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.pem
next-env.d.ts
ssl
pids
license.txt
.strapi-updater.json
HELP.md


############################
# IDE
############################
## VS Code
.vscode/
.vscode/*
!.vscode/extensions.json
.code-workspace

## Jet Brains
.idea
.idea/
.idea_modules/
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

## MS Visual Studio
*.suo
*.user
*.csproj.user
*.vs
*.ntvs*
*.njsproj
*.sln
!*.sln

## Vim
*.sw?
*#

## NetBeans
nbproject
/nbproject/private/
nbbuild/
/nbbuild/
/dist/
/nbdist/
/nbdist/
/.nb-gradle/
nbactions.xml
nb-configuration.xml
!**/src/main/**/build/
!**/src/test/**/build/

## Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.settings/
tmp/
.metadata
*.tmp
*.bak
*~.nib
local.properties
.loadpath


############################
# OS
############################
## MacOS
.DS_Store
.AppleDouble
.LSOverride
Icon
.Spotlight-V100
.Trashes
._*
Icon?

## Linux
*~
var/

## Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp

############################
# Packages
############################
*.7z
*.csv
*.dat
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.com
*.dll
*.exe
*.o
*.seed
*.so
*.swo
*.swp
*.swn
*.swm
*.out
*.pid
*.war
*.nar
*.ear
*.tar.gz
# Compiled class file
*.class
